

/*Start of stylesheet*/

/*================================
Google fonts used:
font-family: 'Oswald', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Lobster', cursive;
 @import url(https://fonts.googleapis.com/css?family=Oswald|Ubuntu|Lobster);
=================================*/

/*Body*/
/*Header*/
/*Sections*/
/*home*/
#home{
    background-image: url(../assets/assets/h_img.jpg);
    background-size: cover;
    color: #ffffff;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 15%;
}
/*about*/
#about{
    background: #EDF2DF;
    height: 50vh;
}
/*services*/
#services{
    background-image: url(../assets/assets/c_image.jpg);
    background-size: cover;
    color: #ffffff;
    background-repeat: no-repeat;
    height: 50vh;
}
/*do*/
#do{
    padding: 20px;
    background: #EDF2DF;
    font-size: 0.9em;
}
/*folio*/
#folio{
    background: #EDF2DF;
    height: 100vh;
}

/*contact*/
#contact{
    background-image: url(../assets/assets/c_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    padding: 15%;
}
#contact h3{
    color: white;
}
#left{
    float: left;
    width: 40%;
}
#right{
    float: right;
    width: 40%;
}
.clear{
    background: none;
    color: #fff;
}
.thumbnail{
    border: #EDF2DF;
    margin-right: 2%;
}
textarea{
    height: 168px;
}
/*Footer*/
footer{
    background: #EDF2DF;
    clear: both;
    height: 20%;
    padding: 30px;
}




